In [1]:
# Libraries
import pandas as pd 
import numpy as np  
import random
from datetime import datetime 
import matplotlib.dates as mdates
import matplotlib.pyplot as plt 
from sklearn.cluster import KMeans  
from sklearn import metrics 
from sklearn.preprocessing import MinMaxScaler 
from math import sqrt
from sklearn.preprocessing import minmax_scale
from time import time 
import seaborn as sns 
import matplotlib.pyplot as plt 
from scipy import stats 
import dateutil.relativedelta

In [2]:
ds1 = pd.read_csv("~/Reicarnation-Blues-Book/data/machine_learning_challenge_order_data.csv",low_memory=False)  

ds2 = pd.read_csv("~/Reicarnation-Blues-Book/data/machine_learning_challenge_labeled_data.csv",low_memory=False)  

ds = pd.merge(ds1,ds2,how='left',on='customer_id')   

ds['voucher_bol'] = np.where(ds['voucher_amount']>0,1,0) 

ds['delivery_free'] = np.where(ds['delivery_fee']>0,1,0)


#basic data transformation

ds['order_date'] = pd.to_datetime(ds['order_date'],format="%Y-%m-%d")   

ds.head()

,customer_id,order_date,order_hour,customer_order_rank,is_failed,voucher_amount,delivery_fee,amount_paid,restaurant_id,city_id,payment_id,platform_id,transmission_id,is_returning_customer,voucher_bol,delivery_free
0,000097eabfd9,2015-06-20,19,1.0,0,0.0,0.000,11.46960,5803498,20326,1779,30231,4356,0,0,0
1,0000e2c6d9be,2016-01-29,20,1.0,0,0.0,0.000,9.55800,239303498,76547,1619,30359,4356,0,0,0
2,000133bb597f,2017-02-26,19,1.0,0,0.0,0.493,5.93658,206463498,33833,1619,30359,4324,1,0,1
3,00018269939b,2017-02-05,17,1.0,0,0.0,0.493,9.82350,36613498,99315,1619,30359,4356,0,0,1
4,0001a00468a6,2015-08-04,19,1.0,0,0.0,0.493,5.15070,225853498,16456,1619,29463,4356,0,0,1

# Clustering

In [4]:
ds_rest = ds[['order_date','restaurant_id','is_failed']][ds.is_failed == 0].sort_values('order_date').drop_duplicates('restaurant_id',keep='first').drop('is_failed',axis=1) 
ds_city = ds[['order_date','city_id','is_failed']][ds.is_failed == 0].sort_values('order_date').drop_duplicates('city_id',keep='first').drop('is_failed',axis=1) 

ds = pd.merge(ds,ds_rest,how='left',on='restaurant_id',suffixes = ('','rest_first')) 
ds = pd.merge(ds,ds_city,how='left',on='city_id',suffixes = ('','city_first')) 

ds.head()

,customer_id,order_date,order_hour,customer_order_rank,is_failed,voucher_amount,delivery_fee,amount_paid,restaurant_id,city_id,payment_id,platform_id,transmission_id,is_returning_customer,voucher_bol,delivery_free,order_daterest_first,order_datecity_first
0,000097eabfd9,2015-06-20,19,1.0,0,0.0,0.000,11.46960,5803498,20326,1779,30231,4356,0,0,0,2015-03-06,2012-08-10
1,0000e2c6d9be,2016-01-29,20,1.0,0,0.0,0.000,9.55800,239303498,76547,1619,30359,4356,0,0,0,2015-08-03,2015-03-08
2,000133bb597f,2017-02-26,19,1.0,0,0.0,0.493,5.93658,206463498,33833,1619,30359,4324,1,0,1,2015-05-16,2015-03-01
3,00018269939b,2017-02-05,17,1.0,0,0.0,0.493,9.82350,36613498,99315,1619,30359,4356,0,0,1,2015-03-04,2015-03-01
4,0001a00468a6,2015-08-04,19,1.0,0,0.0,0.493,5.15070,225853498,16456,1619,29463,4356,0,0,1,2015-05-01,2015-03-14

In [ ]:
# Having a premiss that delivery hero is new in a town less than 6 months and a restaurant less than 3

ds['new_rest'] = np.where( (ds['order_date'] - ds['order_daterest_first']).dt.days <90 ,1,0) 

ds['new_city'] = np.where( (ds['order_date'] - ds['order_datecity_first']).dt.days <180 ,1,0)

In [ ]:
def return_k_cluster(data):  
    """" 
    this function searches for the perfect number of clusters, 

    Also plots the elbow graph 

    """

    distortions = [] 
    t0 = time()
    K = range(2,35)
    for k in K:
        kmeanModel = KMeans(n_clusters=k, init='k-means++', max_iter=200, n_init=3)
        kmeanModel.fit(data)
        distortions.append(kmeanModel.inertia_)   

    print("done in %0.3fs" % (time() - t0)) 

    plt.figure(figsize=(16,8))
    plt.plot(K, distortions, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Distortion')
    plt.title('The Elbow Method showing the optimal k')
    plt.show()

In [ ]:
# Clustering Citys and restaurants by it's size and % of returning clients 

# first cluster city  

ds_city = ds.copy()

ds_city = ds_city.drop_duplicates(subset=['customer_id','city_id','restaurant_id'],keep ='first')


# If I aggreated by returned customer without removing restaurant id, customers would appear duplicated 

ds_city1 = ds_city.drop_duplicates(subset=['customer_id','city_id','is_returning_customer'],keep ='first')



ds_city_agg = pd.DataFrame(ds.groupby('city_id').agg({ 
    'customer_id': lambda x: x.nunique(), 
     'restaurant_id':lambda x: x.nunique() }) )

ds_city_agg1 = pd.DataFrame(ds.groupby('city_id').agg({ 
    'is_returning_customer': 'mean', }) )

city_agg = pd.merge(ds_city_agg,ds_city_agg1,how='left',left_index=True, right_index=True) 


city_agg = pd.DataFrame(minmax_scale(city_agg),index=city_agg.index, columns=city_agg.columns  )

city_agg.head()

In [ ]:
return_k_cluster(city_agg)

In [ ]:
# With Elbow technique I was able to see that 7 clusters are fine for the type of the cities
km = KMeans(n_clusters=7, init='k-means++', max_iter=1000, n_init=3)
              

print("Clustering sparse data with %s" % km)
t0 = time()

city_agg['pred_city_cl'] = km.fit_predict(city_agg)

print("done in %0.3fs" % (time() - t0))
print()

# Silhouette coefficient it is a metric that ranges from -1 to 1, being 1 a perfect separation, 
# therefore 0.951 is its great 
print("Silhouette Coefficient: %0.3f"
      % metrics.silhouette_score(city_agg, km.labels_, sample_size=1000))

In [ ]:
city_agg['pred_city_cl'].value_counts()

In [ ]:
# Now for the Restaurants

ds_rest = ds.copy()

ds_rest = ds_rest.drop_duplicates(subset=['customer_id','restaurant_id','is_returning_customer'],keep ='first')


# If I aggreated by returned customer without removing restaurant id, customers would appear duplicated 


ds_rest_agg = pd.DataFrame(ds.groupby('restaurant_id').agg({ 
    'customer_id': lambda x: x.nunique(), 
     'is_returning_customer':'mean' }) )



ds_rest_agg = pd.DataFrame(minmax_scale(ds_rest_agg),index=ds_rest_agg.index, columns=ds_rest_agg.columns )

ds_rest_agg.head()

In [ ]:
return_k_cluster(ds_rest_agg)

In [ ]:
km = KMeans(n_clusters=11, init='k-means++', max_iter=1000, n_init=3)
              

print("Clustering sparse data with %s" % km)
t0 = time()

ds_rest_agg['pred_rest_cl'] = km.fit_predict(ds_rest_agg)

print("done in %0.3fs" % (time() - t0))
print()

# Silhouette coefficient it is a metric that ranges from -1 to 1, being 1 a perfect separation, 
# therefore 0.951 is its great 
print("Silhouette Coefficient: %0.3f"
      % metrics.silhouette_score(ds_rest_agg, km.labels_, sample_size=1000))

In [ ]:
ds_rest_agg['pred_rest_cl'].value_counts()

In [ ]:
ds_rest_agg.head()

# Massive Aggregation

In [35]:
# Considering the date in question as "today" 

today = datetime.strptime('2017-02-28', '%Y-%m-%d')

In [41]:
ds = ds.sort_values(by=['order_date','customer_id'])

def groupped_last_months(mon):
    
    
    last_month_ds = ds[ds.order_date > (today- dateutil.relativedelta.relativedelta(months=mon)) ] 

    cols_name = ['orders_m','last_m','failed_sum_m','voucher_amount_sum_m','delivery_fee_mean_m',
              'amount_paid_m','last_rest_m','last_city_m','last_payment_m',
              'last_platform_m','transmission_id_m','voucher_bol_m','delivery_free_m']
 

    cols_name = [sub + str(mon) for sub in cols_name]  
    
    
    last_month_ds_agg =  pd.DataFrame(ds.groupby('customer_id').agg({  
                             'customer_id' : 'count',  
                              'order_date': 'first', 
                              'is_failed':'sum', 
                             'voucher_amount' : 'sum' , 
                             'delivery_fee' : 'mean',
                              'amount_paid' : 'mean',
                             'restaurant_id' : 'first',
                             'city_id' : 'first' ,
                             'payment_id': 'first',
                            'platform_id':'first',
                           'transmission_id':'first',  
                            'voucher_bol': 'sum', 
                            'delivery_free': 'sum', }))    
    
    
    last_month_ds_agg.columns= cols_name
    
    return last_month_ds_agg

In [17]:
col_name1 =  ['first_order','failed_mean','voucher_amount_mean','delivery_fee_mean'
              ,'amount_paid_mean','last_rest','last_city','last_payment',
              'last_platform','last_transmission','voucher_bol_mean','delivery_free_mean']

ds_cust1 =  pd.DataFrame(ds.groupby('customer_id').agg({      
                                'order_date': 'first',
                              'is_failed':'mean', 
                             'voucher_amount' : 'mean' , 
                             'delivery_fee' : 'mean',
                              'amount_paid' : 'mean',
                             'restaurant_id' : 'last',
                             'city_id' : 'last',
                             'payment_id': 'last',
                            'platform_id':'last',
                           'transmission_id':'last',  
                            'voucher_bol': 'mean', 
                            'delivery_free': 'mean', }),columns= col_name1) 

col_name2 =  ['total_orders','last_order','freq_hour','failed_sum','voucher_amount_sum', 
              'delivery_fee_sum','amount_paid_sum','top_rest','top_city','top_payment',
              'top_platform','top_transmission','voucher_bol_sum','delivery_free_sum']

ds_cust2 =  pd.DataFrame(ds.groupby('customer_id').agg({  
                             'customer_id' : 'count',    
                                'order_date': 'last',
                              'order_hour': lambda x:x.value_counts().index[0], 
                              'is_failed':'sum', 
                             'voucher_amount' : 'sum' , 
                             'delivery_fee' : 'sum',
                              'amount_paid' : 'sum',
                             'restaurant_id' : lambda x:x.value_counts().index[0],
                             'city_id' : lambda x:x.value_counts().index[0] ,
                             'payment_id': lambda x:x.value_counts().index[0],
                            'platform_id':lambda x:x.value_counts().index[0],
                           'transmission_id':lambda x:x.value_counts().index[0],  
                            'voucher_bol': 'sum', 
                            'delivery_free': 'sum', }),columns= col_name2)

In [19]:
ds_agg_cust = pd.merge(ds_cust1,ds_cust2,left_index= True,right_index=True) 

ds_agg_cust.head()

,first_order,failed_mean,voucher_amount_mean,delivery_fee_mean,amount_paid_mean,last_rest,last_city,last_payment,last_platform,last_transmission,...,voucher_amount_sum,delivery_fee_sum,amount_paid_sum,top_rest,top_city,top_payment,top_platform,top_transmission,voucher_bol_sum,delivery_free_sum
customer_id,,,,,,,,,,,,,,,,,,,,,
000097eabfd9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0000e2c6d9be,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000133bb597f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00018269939b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0001a00468a6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
total_orders.head()

,customer_id,order_date,order_hour,customer_order_rank,is_failed,voucher_amount,delivery_fee,amount_paid,restaurant_id,city_id,payment_id,platform_id,transmission_id,is_returning_customer,voucher_bol,delivery_free,date_agg
0,000097eabfd9,2015-06-20,19,1.0,0,0.0,0.000,11.46960,5803498,20326,1779,30231,4356,0,0,0,2015-06-01
1,0000e2c6d9be,2016-01-29,20,1.0,0,0.0,0.000,9.55800,239303498,76547,1619,30359,4356,0,0,0,2016-01-01
2,000133bb597f,2017-02-26,19,1.0,0,0.0,0.493,5.93658,206463498,33833,1619,30359,4324,1,0,1,2017-02-01
3,00018269939b,2017-02-05,17,1.0,0,0.0,0.493,9.82350,36613498,99315,1619,30359,4356,0,0,1,2017-02-01
4,0001a00468a6,2015-08-04,19,1.0,0,0.0,0.493,5.15070,225853498,16456,1619,29463,4356,0,0,1,2015-08-01

In [26]:
ds_cust2 =  pd.DataFrame(ds.groupby('customer_id').agg({  
                             'customer_id' : 'count',    
                                'order_date': 'last',
                              'order_hour': lambda x:x.value_counts().index[0], 
                              'is_failed':'sum', 
                             'voucher_amount' : 'sum' , 
                             'delivery_fee' : 'sum',
                              'amount_paid' : 'sum',
                             'restaurant_id' : lambda x:x.value_counts().index[0],
                             'city_id' : lambda x:x.value_counts().index[0] ,
                             'payment_id': lambda x:x.value_counts().index[0],
                            'platform_id':lambda x:x.value_counts().index[0],
                           'transmission_id':lambda x:x.value_counts().index[0],  
                            'voucher_bol': 'sum', 
                            'delivery_free': 'sum', }))   


ds_cust2.columns = col_name2 

ds_cust2.head()

,customer_id,order_date,order_hour,is_failed,voucher_amount,delivery_fee,amount_paid,restaurant_id,city_id,payment_id,platform_id,transmission_id,voucher_bol,delivery_free
customer_id,,,,,,,,,,,,,,
000097eabfd9,1,2015-06-20,19,0,0.0,0.000,11.46960,5803498,20326,1779,30231,4356,0,0
0000e2c6d9be,1,2016-01-29,20,0,0.0,0.000,9.55800,239303498,76547,1619,30359,4356,0,0
000133bb597f,1,2017-02-26,19,0,0.0,0.493,5.93658,206463498,33833,1619,30359,4324,0,1
00018269939b,1,2017-02-05,17,0,0.0,0.493,9.82350,36613498,99315,1619,30359,4356,0,1
0001a00468a6,1,2015-08-04,19,0,0.0,0.493,5.15070,225853498,16456,1619,29463,4356,0,1

In [28]:
ds_cust1 =  pd.DataFrame(ds.groupby('customer_id').agg({      
                                'order_date': 'first',
                              'is_failed':'mean', 
                             'voucher_amount' : 'mean' , 
                             'delivery_fee' : 'mean',
                              'amount_paid' : 'mean',
                             'restaurant_id' : 'last',
                             'city_id' : 'last',
                             'payment_id': 'last',
                            'platform_id':'last',
                           'transmission_id':'last',  
                            'voucher_bol': 'mean', 
                            'delivery_free': 'mean', }))   

ds_cust1.columns = col_name1 


ds_cust1.head()

,order_date,is_failed,voucher_amount,delivery_fee,amount_paid,restaurant_id,city_id,payment_id,platform_id,transmission_id,voucher_bol,delivery_free
customer_id,,,,,,,,,,,,
000097eabfd9,2015-06-20,0.0,0.0,0.000,11.46960,5803498,20326,1779,30231,4356,0.0,0.0
0000e2c6d9be,2016-01-29,0.0,0.0,0.000,9.55800,239303498,76547,1619,30359,4356,0.0,0.0
000133bb597f,2017-02-26,0.0,0.0,0.493,5.93658,206463498,33833,1619,30359,4324,0.0,1.0
00018269939b,2017-02-05,0.0,0.0,0.493,9.82350,36613498,99315,1619,30359,4356,0.0,1.0
0001a00468a6,2015-08-04,0.0,0.0,0.493,5.15070,225853498,16456,1619,29463,4356,0.0,1.0

In [46]:
ds_agg_m1 = groupped_last_months(1)  

ds_agg_m6 = groupped_last_months(6)

In [47]:
ds_agg_cust = pd.merge(ds_cust1,ds_cust2,how='left',left_index=True,right_index=True) 

ds_agg_cust = pd.merge(ds_agg_cust,ds_agg_m1,how='left',left_index=True,right_index=True) 

ds_agg_cust = pd.merge(ds_agg_cust,ds_agg_m6,how='left',left_index=True,right_index=True) 

ds_agg_cust.head()

,first_order,failed_mean,voucher_amount_mean,delivery_fee_mean,amount_paid_mean,last_rest,last_city,last_payment,last_platform,last_transmission,...,voucher_amount_sum_m6,delivery_fee_mean_m6,amount_paid_m6,last_rest_m6,last_city_m6,last_payment_m6,last_platform_m6,transmission_id_m6,voucher_bol_m6,delivery_free_m6
customer_id,,,,,,,,,,,,,,,,,,,,,
000097eabfd9,2015-06-20,0.0,0.0,0.000,11.46960,5803498,20326,1779,30231,4356,...,0.0,0.000,11.46960,5803498,20326,1779,30231,4356,0,0
0000e2c6d9be,2016-01-29,0.0,0.0,0.000,9.55800,239303498,76547,1619,30359,4356,...,0.0,0.000,9.55800,239303498,76547,1619,30359,4356,0,0
000133bb597f,2017-02-26,0.0,0.0,0.493,5.93658,206463498,33833,1619,30359,4324,...,0.0,0.493,5.93658,206463498,33833,1619,30359,4324,0,1
00018269939b,2017-02-05,0.0,0.0,0.493,9.82350,36613498,99315,1619,30359,4356,...,0.0,0.493,9.82350,36613498,99315,1619,30359,4356,0,1
0001a00468a6,2015-08-04,0.0,0.0,0.493,5.15070,225853498,16456,1619,29463,4356,...,0.0,0.493,5.15070,225853498,16456,1619,29463,4356,0,1

In [48]:
ds_agg_cust.columns

Index(['first_order', 'failed_mean', 'voucher_amount_mean',
       'delivery_fee_mean', 'amount_paid_mean', 'last_rest', 'last_city',
       'last_payment', 'last_platform', 'last_transmission',
       'voucher_bol_mean', 'delivery_free_mean', 'total_orders', 'last_order',
       'freq_hour', 'failed_sum', 'voucher_amount_sum', 'delivery_fee_sum',
       'amount_paid_sum', 'top_rest', 'top_city', 'top_payment',
       'top_platform', 'top_transmission', 'voucher_bol_sum',
       'delivery_free_sum', 'orders_m1', 'last_m1', 'failed_sum_m1',
       'voucher_amount_sum_m1', 'delivery_fee_mean_m1', 'amount_paid_m1',
       'last_rest_m1', 'last_city_m1', 'last_payment_m1', 'last_platform_m1',
       'transmission_id_m1', 'voucher_bol_m1', 'delivery_free_m1', 'orders_m6',
       'last_m6', 'failed_sum_m6', 'voucher_amount_sum_m6',
       'delivery_fee_mean_m6', 'amount_paid_m6', 'last_rest_m6',
       'last_city_m6', 'last_payment_m6', 'last_platform_m6',
       'transmission_id_m6', 'voucher_bol_m6', 'delivery_free_m6'],
      dtype='object')

In [49]:
# dates  

ds_agg_cust['fist_last_order_diff'] = (ds_agg_cust['last_order']-ds_agg_cust['first_order']).dt.days 

ds_agg_cust['fist_order_today_diff'] = (today-ds_agg_cust['first_order']).dt.days

ds_agg_cust['last_order_today_diff'] = (today-ds_agg_cust['last_order']).dt.days 

ds_agg_cust['month_first_order'] = ds_agg_cust.first_order.dt.month 

ds_agg_cust['month_last_order'] = ds_agg_cust.last_order.dt.month 

ds_agg_cust['weekday_first_order'] = ds_agg_cust.first_order.dt.weekday_name 

ds_agg_cust['weekday_last_order'] = ds_agg_cust.last_order.dt.weekday_name

In [50]:
ds_agg_cust['last_m6']

customer_id
000097eabfd9   2015-06-20
0000e2c6d9be   2016-01-29
000133bb597f   2017-02-26
00018269939b   2017-02-05
0001a00468a6   2015-08-04
                  ...
fffd696eaedd   2015-09-14
fffe9d5a8d41   2016-07-31
ffff347c3cfa   2016-08-17
ffff4519b52d   2016-04-02
ffffccbfc8a4   2015-05-30
Name: last_m6, Length: 245455, dtype: datetime64[ns]